body {

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;

}

.characterArea {
    position:relative;

}

#characterImage {
    display:block;
}

#currentText {
    position:absolute;
    top:-5px;
    width:100%;
    font-size:20px;
    font-weight:bold;
}

#currentText span {
    display:inline-block;
    margin:0 5px;
}

#currentText .active {
    font-size:30px;
}